@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #36454f;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}


/* textarea{
   overflow: hidden;
   border-radius: 2%;
   resize: none;
   height: 70vh;
   width: 60vh;

} */
iframe{
    width: 100%;
    height: 50vh;
}
.main div{
    outline: none;
    resize: none;
    padding: 20px;
}
#cssCode, #htmlCode, #jsCode{
    background-color: #0f1921;
    height: 500px;
    /* padding: 0px; */
    border: 2px;
    border-radius: 2%;
    overflow:auto;

}

h3{
    padding-left: 15px;
}

h1{
    font-size: 20px;
    font-weight: 500;
}
.run-btn{
    cursor: pointer;
    border: 0;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    background:  #36454f;
    color: #fff;
    font-size: 15px;
    border-radius: 10%;
}
.run-btn:hover {
    opacity: 0.9;
}
ul{
    list-style: none;
}

.nav{
    display: flex;
    background-color: 	#162632;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    color: #fff;
}

.nav ul{
    display: flex;
}

.nav ul li{
    padding: 0 5px;
}


.main{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 2em;
    color: #fff;
    padding-top: 30px;
    margin-left: 2rem;
    padding-bottom: 30px;
}

/* #js, #html, #css{
    background-color: #0f1921;
    color: #fff;
    
} */
#result{
    background-color: #fff;
}
.result-cont{
    color: #fff;
    
}
footer{
    background-color: 	#162632;
    color: #fff;
    text-align: center;
    height: 10vh;
    margin-top: 0;
    padding-top: 20px;
}